[Desktop Entry]
Type=Application
Exec=bash /home/jetson/GIT/voice_robot_interaction/scripts/change_resolution.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Change_Resolution
Name=Change_Resolution
Comment[en_US]=Set the display resolution to 1920x1080
Comment=Set the display resolution to 1920x1080